/* VARIABLES */
:root {
    /* COLLORES */
    --background : #151618;
    --simple-box : #25282c;
    --gray       : #a9abb3;
    /* FUENTES */
    --sans-serif : 'Roboto', sans-serif;
    --monospace  : 'Roboto mono', monospace;
  }


body {
    background-color: var(--background);
    color: white;
    font-family: var(--sans-serif);
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

main {
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

main p {
    text-align: justify;
}


footer {
    text-align: center;
    margin-top: auto;
    padding: 10px;
}

footer a {
    color: var(--gray);
    text-decoration: none;
    font-family: var(--monospace);
}

h1 {
    text-align: center;
}

a {
    color: cyan;
    text-decoration: none;
}


/* IDS */

#MainMenu {
    list-style: none;
    padding: 0px;
    display: flex;
}

#MainMenu li {
    background-color: var(--simple-box);
    border-radius: 10px;
    text-align: center;
    transition: all 0.1s ease-in-out;
}

#MainMenu li:hover {
    transform: scale(1.05);
    font-weight: bold;
}

#MainMenu a {
    color: white;
    text-decoration: none;
}

#Return {
    margin-bottom: 25px;
    text-align: center;
}

#MainContainer {
    text-align: justify;
}