qx-code-table {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

qx-code-table .code-table-title {
    text-align: center;
    font-weight: bold;
}

qx-code-table .code-table-render {
    padding: 1em;
    border: 1px solid white;
}